{% extends "base.html" %}
{% block body %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Značenje kolona</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<ul>
			<li><b>Id (RGZ)</b> &mdash; Identifikator adrese u RGZ-u</li>
			<li><b>Ulica i kućni broj (RGZ)</b> &mdash; Ime ulice iz RGZ-a</li>
			<li><b>Lokacija (RGZ)</b> &mdash; Pozicija adrese iz RGZ-a</li>
			<li><b>Conflated adresa</b> &mdash; Da li je urađena konflacija i sa kojom adresom</li>
			<li><b>Potencijalno poklapanje</b> &mdash; Ukoliko postoji poklapanje sa nekom adresom iz OSM-a, ona će biti navedena u ovoj koloni. Ukoliko adresa ima "✅", znači da je poklapanje 100%. Ove adrese su najbolji kandidati za konflaciju.</li>
			<li><b>Procenat poklapanja</b> &mdash; Ukoliko je nađena fuzzy adresa, ovo je procenat poklapanja. Neko pravilo je da adrese ispod 95% ne treba razmatrati.</li>
			<li><b>Udaljenost</b> &mdash; I za adrese sa konflacijom, i za potencijalno poklapanje, pokazuje udaljenost između RGZ i OSM lokacije adrese</li>
		</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
      </div>
    </div>
  </div>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
	  {% if realTime %}
	  <li class="breadcrumb-item" aria-current="page"><a href="../../../index.html">Početna</a></li>
	  <li class="breadcrumb-item" aria-current="page"><a href="../../report.html">Real-time izveštaj</a></li>
	  {% else %}
	  <li class="breadcrumb-item" aria-current="page"><a href="../../index.html">Početna</a></li>
	  <li class="breadcrumb-item" aria-current="page"><a href="../../report.html">Izveštaj</a></li>
	  {% endif %}
	  <li class="breadcrumb-item active" aria-current="page"><a href="../{{ opstina_name }}.html">{{ opstina_name }}</a></li>
	  <li class="breadcrumb-item active" aria-current="page">{{ naselje.name_lat }}</li>
  </ol>
</nav>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script>
	$(document).ready( function () {
	    $('#list').DataTable({
		    stateSave: true,
		    order: [[0, 'asc']],
		    lengthMenu: [ [10, 100, -1], [10, 50, "All"] ],
		    columnDefs: [
		        //{ targets: [10, 11, 12, 13, 14], "orderable": false},
		        //{ targets: [1], visible: false },
		        { targets: [2, 3, 4, 5], className: 'text-right' },
		        //{ targets: '_all', visible: false }
		    ]
		});
	} );
    </script>


<h2>{% if realTime %}Real-time izveštaj{% else %}Izveštaj{% endif %} za {{ naselje.name_lat }}</h2>
<br/>
{% if realTime %}
<p>OSM podaci od <b>{{ osmDataDate }}</b></p>
{% else %}
<p>Ovde možete videti sve adrese unutar naselja "{{ naselje.name_lat }}" i status konflacije.
	U gornjem desnom uglu je filtriranje.
	Klikom na "Pomoć" u gornjem meniju dobićete više informacija o kolonama u ovoj tabeli.</p>
{% endif %}
<br/>
<br/>


<table id="list" class="table table-sm table-striped table-bordered table-hover" style="width:100%">
<thead class="thead-dark sticky-top">
	<tr>
		<th>Id (RGZ)</th>
		<th>Ulica i kućni broj (RGZ)</th>
		<th>Lokacija (RGZ)</th>
		<th>Conflated adresa</th>
		<th>Potencijalno poklapanje</th>
		<th>Procenat poklapanja</th>
		<th>Udaljenost</th>
	</tr>
</thead>
<tbody>
{% for address in addresses %}
<tr>
<td>{{ address.rgz_kucni_broj_id }}</td>
<td>{{ address.rgz_ulica }} {{ address.rgz_kucni_broj }}</td>
<td><a href="{{address.location_url }}" target="_blank">{{ address.location_text}}</a></td>
{% if address.conflated_osm_link != '' %}<td><a href="{{address.conflated_osm_link }}" target="_blank">{{ address.conflated_osm_street }} {{ address.conflated_osm_housenumber }}</a></td>{% else %}<td/>{% endif %}
{% if address.osm_link != '' %}<td><a href="{{address.osm_link }}" target="_blank">{% if address.matching %}✅&nbsp;{% endif %}{{ address.osm_street }} {{ address.osm_housenumber }}</a></td>{% else %}<td/>{% endif %}
{% if address.score != '' %}<td>{{ '{0:0.2f}%'.format(100 * address.score) }}</td>{% else %}<td/>{% endif %}
{% if address.distance != '' %}<td>{{ '{0:0.0f}m'.format(address.distance) }}</td>{% else %}<td/>{% endif %}
</tr>
{% endfor %}
</tbody>
</table>

{% if len(osm_files_new_addresses) > 0  or len(osm_files_matched_addresses) > 0 %}
<h2>Lista fajlova za import</h2>

<div class="row">
	{% if len(osm_files_new_addresses) > 0 %}
	<div class="col-sm">
	  <a class="btn btn-primary" data-toggle="collapse" href="#collapseOsmFilesNew" role="button" aria-expanded="false" aria-controls="collapseOsmFilesNew">
		Samo nove adrese!
	  </a>
	</div>
	{% endif %}
	{% if len(osm_files_matched_addresses) > 0 %}
	<div class="col-sm">
	  <a class="btn btn-primary" data-toggle="collapse" href="#collapseOsmFilesMatched" role="button" aria-expanded="false" aria-controls="collapseOsmFilesMatched">
		100% poklopljene adrese
	  </a>
	</div>
	{% endif %}
</div>
{% endif %}

{% if len(osm_files_new_addresses) > 0 %}
<div class="collapse" id="collapseOsmFilesNew">
  Ovde su fajlovi za import adresa iz RGZ-a koje nisu mogle da budu nađene u OSM-u. Morate imati otvoren JOSM pre nego što kliknete na fajl.
	Klikom na fajl ćete ga učitati u JOSM. Fajlovi su grupisani u grupe od po najviše 100 adresa.
	<br/>
	<br/>
	<b>Pre bilo kakvog importa, <b>obavezno</b> pročitati <a href="https://wiki.openstreetmap.org/wiki/Serbia/Projekti/Adresni_registar#Uputstvo_za_import" target="_blank">uputstvo</a></b>!
	<br/>
  <div class="card card-body">
	  <div class="row row-cols-5">
	  	{% for osm_file in osm_files_new_addresses %}
	  		<div class="col-sm">
	  			<a href="http://localhost:8111/import?changeset_tags=source=RGZ_AR&new_layer=true&layer_name={{ naselje.name_lat }}-{{ osm_file.name }}&url={{ osm_file.url }}" target="_blank">{{ osm_file.name }}</a>
			</div>
	  	{% endfor %}
	  </div>
  </div>
</div>
<br/><br/>
{% endif %}

{% if len(osm_files_matched_addresses) > 0 %}
<div class="collapse" id="collapseOsmFilesMatched">
  Ovde su fajlovi za import adresa iz RGZ-a koje se 100% poklapaju po adresi i kućnom broju sa adresama u OSM-u.
	Morate imati otvoren JOSM pre nego što kliknete na fajl.
	Klikom na fajl ćete ga učitati u JOSM.
	Fajlovi su grupisani u grupe od po najviše 100 adresa.
	<br/>
	<br/>
	<b>Pre bilo kakvog importa, <b>obavezno</b> pročitati <a href="https://wiki.openstreetmap.org/wiki/Serbia/Projekti/Adresni_registar#Uputstvo_za_import" target="_blank">uputstvo</a></b>!
	<br/>
  <div class="card card-body">
	  <div class="row row-cols-5">
	  	{% for osm_file in osm_files_matched_addresses %}
	  		<div class="col-sm">
	  			<a href="http://localhost:8111/import?changeset_tags=source=RGZ_AR&new_layer=true&layer_name={{ naselje.name_lat }}-{{ osm_file.name }}&url={{ osm_file.url }}" target="_blank">{{ osm_file.name }}</a>
			</div>
	  	{% endfor %}
	  </div>
  </div>
</div>
<br/><br/>
{% endif %}

{% endblock %}