{% extends "base.html" %}
{% block body %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Značenje kolona</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		Odaberite neku od dostupnih analiza ispod
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
      </div>
    </div>
  </div>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
	  <li class="breadcrumb-item" aria-current="page"><a href="index.html">Početna</a></li>
      <li class="breadcrumb-item" aria-current="page">QA</li>
  </ol>
</nav>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

<div class="text-center">

    <h2>Quality assurance</h2>
    <br/>
    <p>Ovde možete videti neke od QA izveštaja</p>
    <br/>
    <h3><a href="osm_import_qa.html">Kvalitet uvoza adresa</a></h3>
    <p>Pronalazi OSM adrese koje imaju tag <code>ref:RS:kucni_broj</code>, ali nešto od podataka se ne slaže sa RGZ-om.</p>
    <br/><br/>
    <h3><a href="duplicated_refs.html">ref:RS:kucni_broj duplikati</a></h3>
    <p>Pronalazi adrese koje imaju dupliciran <code>ref:RS:kucni_broj</code> u OSM-u</p>
    <br/><br/>
    <h3><a href="addresses_in_buildings.html">Adrese unutar zgrada</a></h3>
    <p>Pronalazi adrese koje se nalaze unutar poligona zgrada u OSM-u. Ovakve adrese nekad možemo da prebacimo na zgradu ili da njihove čvorove zakačimo na poligon zgrade</p>
    <br/><br/>
    <h3><a href="unaccounted_osm_addresses.html">OSM adrese bez ref:RS:kucni_broj</a></h3>
    <p>Pronalazi adrese u OSM-u koje nemaju odgovarajuću <code>ref:RS:kucni_broj</code> oznaku</p>
    <br/><br/>
    <h3><a href="b-hn/index.html">Odnos zgrada i kućnih brojeva</a></h3>
    <p>Izveštaj koji upoređuje broj zgrada u OSM-u i broja kućnih brojeva iz RGZ-a</p>
    <br/><br/>
    <h3><a href="removed_addresses.html">Obrisane RGZ adrese</a></h3>
    <p>Izveštaj koji prikazuje obrisane RGZ adrese još u OSM-u</p>
    <br/><br/>
    <h3><a href="street_mapping.html">Pravilna imena ulica</a></h3>
    <p>Izveštaj koji daje mapiranje imena ulica iz RGZ formata u ono što mi želimo u OSM-u</p>
</div>

{% endblock %}
